# Default RSS Feed
RSS_FEED = "https://www.zdnet.com/news/rss.xml"

# Unsplash API key, to get images https://unsplash.com/developers
UNSPLASH_API_KEY = "api_key_here"

# SMTP Information
EMAIL_SMTP_SERVER = "smtp_host"
EMAIL_SMTP_PORT = 465
EMAIL_SENDER = "email_sender@example.com"
EMAIL_PASSWORD = "password"

# Jetpack Post to Email address
EMAIL_RECEIVER = "example@post.wordpress.com"
